
/*
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family:'Prompt', sans-serif;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 3px solid rgba(47, 18, 18, 0.2);
  border-radius: 10px;
  background-color: transparent;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: transparent ;
  border: 3px solid #ffebc495;
  color:#ffebc4;
  padding: 10px 20px;
  border-radius: 10px;
}
input[type="submit"]:hover{
  background-color: transparent;
  font-weight:bold;
  border: 4px solid #ffebc4;
}

.button-container {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  
  background-image: url(../images/fondoLogin.jpg);
  background-position: center;
  background-size: cover;

}
form{
  padding: 20px;
  height: 150%;
  width: 120%;
  border-radius: 10px;
  background-color: rgba(26, 23, 23, 0.221);
}

.list-container {
  display: flex;
}
.error {
  color: hsl(19, 100%, 50%);
  font-size: 12px;
}

.title {
  font-size: 75px;
  display: inline-block;
  position:fixed;
  top:100px;
  text-align: center;
  z-index:10;
  font-weight: bold;
  color: rgb(255, 235, 196);
}


.input-container {
  display: flex; 
  flex-direction: column;
  gap: 13px;
  margin: 10px;
  top:0px;
  left:0px;
  z-index:5;
  color: bisque;
  position: relative;
}
.input-container:hover{
  background-color: transparent;
  border-color: white;
}

*/

.app {
  /*font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  height: 80vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgba(150, 175, 243, 0.19);
  */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family:'Prompt', sans-serif;
}

input[type="text"],
input[type="password"] {
  height: 2.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  text-align: center;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cc6f0;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}


.error {
  color: red;
  font-size: 12px;
}

.login {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.input-container label{
  text-align: center;
  padding: 1ch;
}