* {
  margin: 0;
  padding: 0;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: lighter;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Saira Condensed', sans-serif;
}

.App{
  max-width: 1555px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  box-shadow: 0 2px 6px #08a05ca4;;
  padding: 0 15px;
  box-sizing: border-box;
  background: linear-gradient(90deg, rgba(20,22,45,1) 0%, rgba(75,29,65,1) 35%, rgba(150,83,92,1) 100%);
  text-transform: uppercase;
}

.cart{
  position: relative;
  cursor: pointer;
}
.cart box-icon{
  width: 45px;
  height: 45px;
  
}
.cart span{
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 50%;
  background-color: crimson;
  text-transform: uppercase;
}

/*-----------------PRODUCTO-------------------*/

h2{
  font-size: 2rem;
  padding: 1rem 0 1rem 0;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
}
.productos{
  padding: 2rem 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(22rem, 1fr));
  gap: 3rem 2rem;
  box-sizing: border-box;
}
.producto{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.2);
  border: 6px solid transparent;
  background-color: white;
  border-radius: 5px;
}
.producto:hover{
  border: 6px solid lightblue;
}
.producto_img img{
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.producto_footer{
  padding: 0.5rem;
}
.producto_footer h1{
  font-size: 1.2rem;
  color: #88506e;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}
.producto_footer p{
  font-weight: 500;
  color: rgba(0, 0, 0, 0.55);
  text-transform: uppercase;
  font-size: 18px;
  text-transform: uppercase;
}
.producto_footer .price{
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
.producto .buttom{
  width: 100%;
  height: 45px;
  display: grid;
  justify-content: center;
  padding: 0 1rem;
  margin: 1rem;
}
.buttom .btn{
  border: none;
  outline: 0;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
}
.buttom button{
  max-width: 250px;
  width: 100%;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-transform: uppercase;
}
.buttom p{
  background-color: rgb(255, 0, 0);
  max-width: 250px;
  width: 100%;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-transform: uppercase;
}
.buttom div{
  display: grid;
  align-items: center;
  text-align: center;
  margin-left: -2rem;
  border-radius: 5px;
}
.buttom div a{
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
.buttom div a:hover{
  color: white;
}

/*---INICIO---*/
.inicio{
  width: 100%;
  margin: 0 auto;
  
}
.inicio h1{
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem 0 1rem 0;
  text-transform: uppercase;
}
.inicio img{
  width: 100%;
}
/*---CATEGORIAS---*/
.categorias {
  padding: 6rem 10rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(10rem, 1fr));
  gap: 3rem 5rem;
  box-sizing: border-box;
  align-items: center;
  font-weight: 300;
  text-transform: uppercase;
}

.category{
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 6px solid transparent;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #000000;
  border-style: outset;
  position: relative;
  transition: all .35s;
  cursor: pointer;
  text-transform: uppercase;

}
.category:hover {
  color: #fff;
  font-weight: bolder;
}

.category:hover:after {
  width: 100%;
}
.category span {
  position: relative;
  z-index: 2;
  text-transform: uppercase;

}

.category:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: white;
  transition: all .35s;
}

.category:hover:after {
  width: 100%;
}

.todos h1{
  box-sizing: border-box;
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 6px solid transparent;
  font-family: 'Saira Condensed', sans-serif;
  text-decoration: none;
  color: #88506e;
  border-style: outset;
  position: relative;
  transition: all .35s;
  cursor: pointer;
  text-transform: uppercase;
}